@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
     font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
     margin: 0;
     background-color: #FFFFFF;	
}

a:link {
     color: #000000;
}
a:visited {
     color: #000;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}


.homePage {
	background: #4C4759;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #3D3B35;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #FFED8A;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
	color: #7BD6BC
	font:100%/1.4 Hoefller
	
}
.content {
	background: #FFF5EB;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #57AD8E;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
